*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
}
@font-face {
    font-family: Laughing;
    src: url('./assets/fonts/Laughing\ and\ Smiling.ttf')  format('truetype');
}

a {color:#ffffff;}
a:visited {color:#ffffff;}
a:hover {color:#ffffff;}   
a:active {color:#ffffff;}

body{
    background-image: url(./assets/images/garoa_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* ============================== MAIN =================================== */

main{
    position: relative;
    background-image: url(./assets/images/rain-drop.gif);
    margin-left: 50vw; 
    transform: translate(-50vw);
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
#container h1{
    color: #ffffff;
    font-size: 15vh;
    padding: 2vh;
    font-family: Laughing;
}
#container h2{
    position: absolute;
    color: #ffffff;
    font-size: 3.5vh;
    top: 25vh;
    padding-left: 10vh;
    font-family: Laughing;
}
#container .icones{
    position: relative;
    right: 23vh;
    top: 2.5vh;
    width: 5.5vh;
}
#container .icones-play{
    position: relative;
    left: 22.5vh;
    bottom: 1.9vh;
    width: 3.5vh;
}

/* =================== CUSTOMIZAÇÃO DO PLAYER DE AUDIO ==================== */

input[type=range]{
    margin: -2.5vh;
    width: 39vh;
    height: 5vh;
    -webkit-appearance: none;
    background: #ffffff00;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2vh;
    cursor: pointer;
    border-radius: 50vh;
    background: #ffffff5d;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50vh;
    background: #ffffff;
    box-shadow: 0px 2px 2px 0px #2c2c2c6e;
    border: solid 2px #ffffff;
    cursor: pointer;
    margin-top: -0.8vh;
    transition: all 0.2s ease;
}
input[type=range]::-webkit-slider-thumb:hover{
    background: #e2e2e2;
}

input[type=range]::-moz-range-track {
    height: 2vh;
    cursor: pointer;
    border-radius: 50vh;
    background: #ffffff5d;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50vh;
    background: #ffffff;
    box-shadow: 0px 2px 2px 0px #2c2c2c6e;
    border: solid 2px #ffffff;
    cursor: pointer;
    margin-top: -0.8vh;
    transition: all 0.2s ease;
}
input[type=range]::-moz-range-thumb:hover{
    background: #e2e2e2;
}

input[type=range]::-ms-track {
    height: 2vh;
    cursor: pointer;
    border-radius: 50vh;
    background: #ffffff5d;
}
input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50vh;
    background: #ffffff;
    box-shadow: 0px 2px 2px 0px #2c2c2c6e;
    border: solid 2px #ffffff;
    cursor: pointer;
    margin-top: -0.8vh;
    transition: all 0.2s ease;
}
input[type=range]::-ms-thumb:hover{
    background: #e2e2e2;
}

/* ============================== FOOTER =================================== */

footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 3vh;
    background-color: #ffffff15;
}
footer span{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.5vh;
    text-align: center;
}

/* ============================== RESPONSIVIDADE =================================== */

@media (max-width: 450px){
    #container{
        margin-top: 5vh;
    }
    #container h1{
        font-size: 12vh;
    }
    #container h2{
        font-size: 3vh;
        top: 20vh;
        margin-bottom: 1vh;
    }
    #container .icones{
        right: 19vh;
        top: 2.5vh;
        width: 5vh;
    }
    #container .icones-play{
        left: 18.5vh;
        bottom: 2.2vh;
        width: 4vh;
    }
    input[type=range]{
        margin: -6.2vh;
        width: 30vh;
        height: 13vh;
    }
    footer{
        height: 2.9vh;
    }
    footer span{
        font-size: 1.5vh;
    }
}