*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
}
@font-face {
    font-family: Laughing;
    src: url('./assets/fonts/Laughing\ and\ Smiling.ttf')  format('truetype');
}

a {color:#ffffff;}
a:visited {color:#ffffff;}
a:hover {color:#ffffff;}   
a:active {color:#ffffff;}

body{
    background-image: url(./assets/images/garoa_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* ============================== MAIN =================================== */

main{
    background-image: url(./assets/images/rain-drop.gif);
    width: 100%;
    height: 100vh;
    text-align: center;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50%; 
    transform: translate(-50%);
    width: 90%;
    max-width: 1024px;
    margin-top: 5%;
}
#container__texto{
    position: relative;
    display: flex;
    flex-direction: column;
}
#container h1{
    color: #ffffff;
    font-size: 14vh;
    padding: 0 2vh 0 2vh;
    font-family: Laughing;
}
#container h2{
    position: absolute;
    color: #ffffff;
    font-size: 3.5vh;
    top: 21vh;
    padding-left: 15vh;
    font-family: Laughing;
}
.container__audio{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 52vh;
    padding-top: 3.5vh;
}
#container .icones{
    width: 5.5vh;
}
#container .icones-play{
    width: 3.5vh;
}

/* =================== CUSTOMIZAÇÃO DO PLAYER DE AUDIO ==================== */

input[type=range]{
    margin: -2.5vh;
    width: 39vh;
    height: 5vh;
    -webkit-appearance: none;
    background: #ffffff00;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2vh;
    cursor: pointer;
    border-radius: 50vh;
    background: #ffffff5d;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50vh;
    background: #ffffff;
    box-shadow: 0px 2px 2px 0px #2c2c2c6e;
    border: solid 2px #ffffff;
    cursor: pointer;
    margin-top: -0.8vh;
    transition: all 0.2s ease;
}
input[type=range]::-webkit-slider-thumb:hover{
    background: #e2e2e2;
}

input[type=range]::-moz-range-track {
    height: 2vh;
    cursor: pointer;
    border-radius: 50vh;
    background: #ffffff5d;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50vh;
    background: #ffffff;
    box-shadow: 0px 2px 2px 0px #2c2c2c6e;
    border: solid 2px #ffffff;
    cursor: pointer;
    margin-top: -0.8vh;
    transition: all 0.2s ease;
}
input[type=range]::-moz-range-thumb:hover{
    background: #e2e2e2;
}

input[type=range]::-ms-track {
    height: 2vh;
    cursor: pointer;
    border-radius: 50vh;
    background: #ffffff5d;
}
input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50vh;
    background: #ffffff;
    box-shadow: 0px 2px 2px 0px #2c2c2c6e;
    border: solid 2px #ffffff;
    cursor: pointer;
    margin-top: -0.8vh;
    transition: all 0.2s ease;
}
input[type=range]::-ms-thumb:hover{
    background: #e2e2e2;
}

/* ============================== FOOTER =================================== */

footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 3vh;
    background-color: #ffffff15;
}
footer span{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.5vh;
    text-align: center;
}

/* ============================== RESPONSIVIDADE =================================== */

@media (max-width: 450px){
    #container{
        margin-top: 5vh;
    }
    #container h1{
        font-size: 12vh;
    }
    #container h2{
        font-size: 3vh;
        top: 18vh;
        padding-left: 13vh;
    }
    .container__audio{
        width: 47vh;
    }
    #container .icones{
        width: 5vh;
    }
    #container .icones-play{
        width: 4vh;
    }
    input[type=range]{
        margin: -6.2vh;
        width: 30vh;
        height: 13vh;
    }
    footer{
        height: 2.9vh;
    }
    footer span{
        font-size: 1.5vh;
    }
}

@media (max-width: 372px){
    #container{
        margin-top: 5vh;
    }
    #container h1{
        font-size: 9vh;
    }
    #container h2{
        font-size: 2vh;
        top: 13.5vh;
        padding-left: 12vh;
    }
    .container__audio{
        width: 30vh;
    }
    #container .icones{
        width: 4vh;
    }
    #container .icones-play{
        width: 3vh;
    }
    input[type=range]{
        margin: -6.2vh;
        width: 15vh;
        height: 13vh;
    }
    footer{
        height: 2.9vh;
    }
    footer span{
        font-size: 1.1vh;
    }
}